button{
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 2em;
    padding: 0.8em 1.2em;
}

button:hover{
    background-color: rgb(109, 0, 0);
    cursor: pointer;
}