.form-section{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}


.form-section-title{
    font-size: 1.3em;
    font-weight: bold;
}

.form{
    max-width: 80%;
    background-color: #F2F2F2;
    padding: 2em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    animation: apear 1s forwards;
}

@keyframes apear {
    0%{
        height: 0px;
        opacity: 0;
        transform: scaleY(0);
    }
    40%{
        height: 5%;
        opacity: 0.5;
        transform: scaleY(1);
    }
    100%{
        height: 10%;
        opacity: 1;
    }
}

.hidden {
    animation: fade 1s forwards;
}
    
@keyframes fade {
    0%{
        height: 15px;
        opacity: 0.2;
    }
    40%{
        height: 5px;
        opacity: 0.5;
        transform: scaleY(0);
    }
    100%{
        height: 0px;
        opacity: 0;
        transform: scaleY(0);
    }
}